body {
    /*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #848484;
    line-height: 1.5;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 15px 0;
}

h4 {
    font-size: 16px;
}

b,
strong {
    font-weight: 700;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

small {
    font-size: 10px;
}

.pull-right {
    float: right;
}

ul.docs-list {
    margin: 0 20px 20px 20px;
}

ul.docs-list li {
    list-style: circle;
}

a {
    color: #008d4c;
    text-decoration: none;
}

.sign-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.33);
    border: 1px solid #eee;
    padding: 20px;
    z-index: 2000;
    background-color: #fff;
    border-radius: 4px;
}

.blurred-bg {
    background-color: #eee;
}

/* this layout use the "mobile first" approach. As such, the styles below are for mobile, and the media queries are for desktop */

.grid > div {
    padding: 10px;
}

.sidebar,
.footer,
.top-nav,
.grid-3-col > div,
.grid-4-col > div {
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.box > div {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.profile-summary {
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.profile-summary h4#fullName {
    text-transform: capitalize;
}

/*.profile-summary .profile-pic {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
    border: 2px solid #848484;
    border-radius: 50%;
    background-image: url('/img/profilepic.jpg');
}*/

.rateYo {
    margin: 0 auto 20px auto;
}

.profile-summary ul {
    text-align: left;
    margin-bottom: 20px;
}

.profile-summary ul li {
    border-bottom: 1px solid #eee;
    line-height: 30px;
    display: block;
}

.status-update input {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #eee;
    padding: 20px;
    width: 100%;
    font-size: 16px;
    color: #848484;
}

/*
.status-update .select2-container--default .select2-selection--multiple {
    border-radius: 0px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    color: #848484;
}

.status-update .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
}*/

.status-update button {
    display: block;
    line-height: 21px;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    color: #00acd6;
    cursor: pointer;
}

/*
.status-update span {
    line-height: 45px;
}*/

/*.status-update-reminder {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}*/

.grid-status-update-reminder {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}


/*.grid-status-update-reminder {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}*/

.grid-status-update-reminder > div {
    padding: 5px;
    text-align: center;
}

.grid-status-update-reminder > div:nth-child(even) {
    cursor: pointer;
}

.grid-status-update-reminder > div:nth-child(odd) {
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.grid-status-update-reminder > div:nth-child(1) {
    color: #e08e0b;
    border-right: 1px solid #eee;
}

.grid-status-update-reminder > div:nth-child(3) {
    color: #dd4b39;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.grid-status-update-reminder > div:nth-child(5) {
    color: #008d4c;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.grid-status-update-reminder > div:nth-child(7) {
    border-left: 1px solid #eee;
}

.post-update {
    grid-column: 7 / 9;
}


/**** user image *****/

.user-image-medium {
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}

.user-image-small {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}

.user-image-large {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
    border: 2px solid #848484;
    border-radius: 50%;
}

/**** end user image *****/

.post {
    margin: 20px 0;
}

.post > div {
    margin: 15px 0;
}

.post span a {
    font-weight: bold;
}

.content {
    background: #fff;
    margin-bottom: 90px;
}

/******* grid for 3 or 4 columns *******/

.grid-3-col > div {
    padding: 0;
}

.grid-3-col > div,
.grid-4-col > div {
    border: 1px solid #eee;
    border-radius: 3px;
    text-align: center;
}

/******* end grid for 3 or 4 columns *******/

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
}

.footer,
.top-nav {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.footer ul {
    text-align: center;
}

.footer ul li:nth-child(1),
.footer ul li:nth-child(2) {
    border-right: 1px solid;
}

.footer ul li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
}

small.label-red,
small.label-green {
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}

.label-red {
    background-color: #dd4b39;
}

.label-blue {
    background-color: #00acd6;
}

.label-yellow {
    background-color: #e08e0b;
}

.label-green {
    background-color: #008d4c;
}

/******* end top nav *******/

/******* buttons *******/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-small {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn-red {
    background-color: #dd4b39;
    color: #fff;
}

.btn-blue {
    background-color: #00acd6;
    color: #fff;
}

.btn-yellow {
    background-color: #e08e0b;
    color: #fff;
}

.btn-green {
    background-color: #008d4c;
    color: #fff;
}

/******* end buttons *******/


.banner {
    width: 100%;
}

#tabs {
    /*min-width: 320px;
    max-width: 100%;
    margin: 0 auto;*/
    width: 100%;
    background: #fff;
}

#tabs section {
    display: none;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #eee;
}

#tabs > input {
    display: none;
}

#tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

/*#tabs > label span {
    margin-left: 10px;
}*/

/*
#tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

#tabs label[for*='1']:before {
    content: '\f1cb';
}

#tabs label[for*='2']:before {
    content: '\f17d';
}

#tabs label[for*='3']:before {
    content: '\f16b';
}

#tabs label[for*='4']:before {
    content: '\f1a9';
}*/

#tabs > label:hover {
    color: #888;
    cursor: pointer;
}

#tabs > input:checked + label {
    color: #555;
    border: 1px solid #eee;
    border-top: 2px solid #e08e0b;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#tab0:checked ~ #content0,
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8 {
    display: block;
}




@media screen and (min-width: 650px) {
    #tabs label i {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #tabs label span {
        font-size: 0;
    }

    /* #tabs label:before {
        margin: 0;
        font-size: 18px;
    } */
}

@media screen and (max-width: 400px) {
    #tabs label {
        padding: 15px;
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.donate-input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.donate-sc {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00acd6;
    color: #fff;
    cursor: pointer;
}

.table {
    width: 100%;
    border: 1px solid #eee;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #eee;
}

.table tr td {
    border-right: 1px solid #eee;
}


/*** fund public services *****/

.progress-bar {
    width: 100%;
    border: 1px solid #eee;
    height: 7px;
    margin: 15px 0 20px 0;
}

.progress-bar > div {
    height: 7px;
    background-image: linear-gradient(45deg, #ffc15f 25%, #e08e0b 25%, #e08e0b 50%, #ffc15f 50%, #ffc15f 75%, #e08e0b 75%, #e08e0b 100%);
    background-size: 14.14px 14.14px;
}

/*** end fund public services ****/

/******* Voting **********/

/*** NOTE: maybe create a genreic style for these ***/

.official-search div,
.land-search div {
    display: inline-block;
    margin-right: 10px;
}

.official-search div button,
.land-search div a {
    height: 34px;
    padding: 6px 12px;
    line-height: 22px;
}


.land-search-results ul {
    margin-bottom: 20px;
}

.land-search-results ul li {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.land-search-results img {
    width: 100%;
    height: auto;
}

.terms-of-use {
    margin-bottom: 20px;
}

.terms-of-use li {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

/************** housing ***********/

.housing h3 {
    font-size: 14px;
}

.housing img {
    border: 2px solid #eee;
    margin-bottom: 10px;
}

/*********** wallet ********/

.cards img {
    width: 100%;
}

/*** lottery ****/


.lottery-numbers td {
    text-align: center;
    /*vertical-align: middle;*/
}

.lottery-numbers ul li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    margin-right: 7px;
    font-size: 20px;
    background-color: #00c0ef;
    color: #fff;
}

ul li.bonus-ball {
    background-color: #dd4b39;
}

.buy-ticket {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
}




/****** education **********/
/*
#tabs.course-builder-tabs > label {
    padding: 5px 15px;
    font-weight: 600;
}*/

.education i {
    font-size: 50px;
    color: #dd4b39;
}

#tabs.course div label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

/*
#tabs.course-builder-tabs label i {
    display: block;
}*/

.answers {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}


.course {
    /*text-align: center;*/
}

.course .radio {
    float: left;
}

.course .grid-2-col {
    /*border-top: 1px solid #eee;
    padding: 10px;*/
}

.course .radio label input {
    position: relative;
    top: 2px;
    margin-left: 15px;
}

.course-review {
    text-align: center;
}

.review-questions {
    text-align: right;
}

.feedback-confirmation {
    max-width: 500px;
    margin: auto;
}

/* these styles are for a horizontal checkbox
.grid-course-review {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.grid-course-review > div {
    padding: 5px;
    text-align: center;
}

.grid-course-review > div:nth-child(even) {
    cursor: pointer;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.grid-course-review > div:nth-child(odd) {
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.grid-course-review > div:last-child {
    border-right: none;
}*/

.funds-raised {
    width: 100%;
    text-align: left;
    border: 1px solid #eee;
}

.funds-raised li {
    padding: 5px 10px;
}

.funds-raised li:nth-child(1) {
    border-bottom: 1px solid #eee;
}

/***** healthcare ********/

.healthcare i {
    font-size: 50px;
    color: #008d4c;
}

.service-provider-img {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

/*************************/
.plugins img {
    width: 100%;
    overflow: hidden;
    height: 100px;
    display: block;
    text-align: center;
    border: 1px solid #eee;
}

.plugins .plugin-desc {
    height: 150px;
    overflow: hidden;
}
