.grid > div.top-right {
    background: #222d32;
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.top-margin {
    margin-top: 132px;
}

.grid > div.top-nav {
    padding: 10px 20px;
    position: relative;
    z-index: 100;
}

@media screen and (min-width: 800px) {

    /* if window is greater the 800px */
    .top-margin {
        margin-top: 47px;
    }
}

/******* top nav *******/


.top-nav select {
    padding: 5px 10px;
    height: 27px;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid transparent;
    color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    color: #848484;
}

.top-nav input {
    color: #848484;
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 100%;
}

.top-nav .grid-search button {
    border: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    padding: 5px 10px;
}

.top-nav > div li .label {
    position: relative;
    top: -11px;
    right: 7px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.top-nav ul {
    text-align: right;
    line-height: 27px;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.top-nav ul li a {
    color: #848484;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    right: -20px;
    top: 37px;
    background-color: #fff;
    min-width: 340px;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    padding: 10px;
    height: 290px;
    overflow: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.dropdown-content .drop-down-header {
    font-weight: bold;
    color: #dd4b39;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 12px;
    display: block;
}

.dropdown-content ul {
    text-align: left;
}

.dropdown-content ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    line-height: 25px;
}

.dropdown-content ul li a {
    font-weight: bold;
    color: #008d4c;
}

.user-image-messages {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}

/******* credits grid (top of page) *******/

.grid-credits {
    font-size: 12px;
}

.grid-credits > div:nth-child(odd) {
    /*margin-left: 10px;*/
    /*border: 1px solid #eee;*/
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.grid-credits > div:nth-child(even) {
    margin-right: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
}

.grid-credits > div:nth-child(1) {
    background-color: #dd4b39;
    padding: 5px;
}

.grid-credits > div:nth-child(2) {
    background-color: #fff;
    color: #dd4b39;
    padding: 5px;
}

.grid-credits > div:nth-child(3) {
    background-color: #00acd6;
    padding: 5px;
}

.grid-credits > div:nth-child(4) {
    background-color: #fff;
    color: #00acd6;
    padding: 5px;
}

.grid-credits > div:nth-child(5) {
    background-color: #e08e0b;
    padding: 5px;
}

.grid-credits > div:nth-child(6) {
    background-color: #fff;
    color: #e08e0b;
    padding: 5px;
}

.grid-credits > div:nth-child(7) {
    background-color: #008d4c;
    padding: 5px;
}

.grid-credits > div:nth-child(8) {
    background-color: #fff;
    color: #008d4c;
    padding: 5px;
    margin-right: 0;
}

/******* end credits grid *******/
