.localCandidates div,
.localOfficials div {
    position: relative;
}
.delete-official {
    position: absolute;
    top: 10px;
    right: 10px;
}
.localOfficials a, .localCandidates a{
    text-transform: capitalize;
}